.bg-box {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    background-color: green;
    background-image: url(/assets/img/pole.jpg),
    url(/assets/img/grass.png),
    url(/assets/img/lamp.png),
    url(/assets/img/pon41k.png),
    url(/assets/img/heage.png);
    background-position: center, bottom, top, right, left;
    background-size: auto, 180px, 40px, 25px, 25px;
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
}